{% extends 'assets/base.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow">
            <div class="card-header bg-warning text-dark">
                <h5 class="mb-0">Set New Password</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    {% include 'includes/form_loop.html' %}

                    <div class="d-grid">
                        <button type="submit" class="btn btn-warning">Save New Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}