{% csrf_token %}

{% for field in form %}
    <div class="mb-3">
        <label class="form-label fw-bold" for="{{ field.id_for_label }}">
            {{ field.label }}
        </label>

        {% if field.field.widget.input_type == "select" %}
            <select name="{{ field.name }}" class="form-select" id="{{ field.id_for_label }}">
                {% for x, y in field.field.choices %}
                    <option value="{{ x }}" {% if field.value == x %}selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>

        {% elif field.field.widget.input_type == "checkbox" %}
            <div class="form-check">
                <input type="checkbox" name="{{ field.name }}" class="form-check-input" id="{{ field.id_for_label }}" {% if field.value %}checked{% endif %}>
            </div>

        {% elif field.field.widget.input_type == "textarea" %}
            <textarea name="{{ field.name }}" class="form-control" rows="3" id="{{ field.id_for_label }}">{{ field.value|default_if_none:"" }}</textarea>

        {% else %}
            <input type="{{ field.field.widget.input_type }}" 
                   name="{{ field.name }}" 
                   class="form-control" 
                   id="{{ field.id_for_label }}"
                   value="{{ field.value|default_if_none:'' }}"
                   {% if field.field.required %}required{% endif %}>
        {% endif %}
        
        {% if field.errors %}
            <div class="text-danger small mt-1">
                {{ field.errors.0 }}
            </div>
        {% endif %}
        {% if field.help_text %}
            <div class="form-text text-muted">{{ field.help_text }}</div>
        {% endif %}
    </div>
{% endfor %}